---
layout: page
title: "About Me"
---

<section class="pt-5 padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row">
                    <div class="col-lg-12">
                        <img src="/assets/images/about.jpg" alt="" class="img-fluid w-100">
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <h5 class="text-uppercase letter-spacing mb-4">Who is me?</h5>
                                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat</p>

                            </div>
                            <div class="col-lg-4">
                                <h5 class="text-uppercase letter-spacing mb-4">My vission</h5>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis biben. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
                            </div>
                            <div class="col-lg-4">
                                <h5 class="text-uppercase letter-spacing mb-4">Follow Me :</h5>
                                {% assign author_info = site.author_info | limit: "1" %} 
                                {% for data in author_info %}
                                {% include follow_socials.html %}
                                {% endfor %}
                            </div>
                        </div>

                        <h3 class="mb-3 mt-5">I have travel 10+ more countries in this year.</h3>
                        <p class="mb-5">Poor Alice! It was as much as she could do, lying down on one side, to look through into the garden with one eye; but to get through was more hopeless than ever: she sat down and began to cry again.</p>

                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="about-widget mb-4 mb-lg-0">
                                    <img src="/assets/images/news/news-1.jpg" alt="" class="img-fluid">
                                    <h4 class="mt-3">Hill ward</h4>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="about-widget mb-4 mb-lg-0">
                                    <img src="/assets/images/news/news-2.jpg" alt="" class="img-fluid">
                                    <h4 class="mt-3">Awesome ride</h4>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="about-widget mb-4 mb-lg-0">
                                    <img src="/assets/images/news/news-3.jpg" alt="" class="img-fluid">
                                    <h4 class="mt-3">Newyork</h4>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="about-widget mb-4 mb-lg-0">
                                    <img src="/assets/images/news/news-4.jpg" alt="" class="img-fluid">
                                    <h4 class="mt-3">Rising Sea</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
