---
layout: default
pagination:
  enabled: true
---
{% include header_two.html %}

<section class="section-padding">
	<div class="container">
		<div class="row">
            
            {% for post in site.posts limit: "3" %}
            
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="category-item">
					{% if post.post_image %}
					<div class="category-img">
						<a href="{{post.url | relative_url}}.html"><img src="{{post.post_image | relative_url}}" alt="{{post.title}}" class="img-fluid w-100"/></a>
					</div>
					{% endif %}
					<div class="content">
						<a href="/category/{{ post.categories[0] | downcase | downcase | url_escape | strip | replace: ' ', '-' }}" class="text-color text-uppercase font-sm letter-spacing font-extra">{{post.categories | limit: "1"}}</a>
						<h4><a href="{{post.url | relative_url}}.html">{{post.title}}</a></h4>
					</div>
				</div>
			</div>

            {% endfor %}
		</div>
	</div>
</section>

<section class="section-padding pt-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="subscribe-home py-4 px-4 mb-5 bg-grey">
					<form action="{{site.mailchimp_list}}" target="__blank" method="post">
					<div class="form-group row align-items-center mb-0">
				    	<label for="colFormLabel" class="col-form-label col-sm-12 h4 col-lg-4">Subscribe for Newsletter</label>
					    <div class="col-sm-6 col-lg-3">
					      <input type="text" class="form-control mb-3 mb-lg-0" id="colFormLabel" placeholder="Full Name">
					    </div>
					    <div class="col-sm-6 col-lg-3">
					       <input type="email" value="" name="EMAIL" class="form-control mb-3 mb-lg-0" id="mce-EMAIL" placeholder="email address" required>
					    </div>
					    <div class="col-sm-2">
					      <button class="btn btn-dark" type="submit">Subscribe</button>
					    </div>
				  	</div>
				  	</form>           

				</div>
			</div>

			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			  <div class="row">
                {% for post in paginator.posts %}
                {% if forloop.index > 3 %}
				<div class="col-lg-6 col-md-6 col-sm-6">
					<article class="post-grid mb-5">
						{% if post.post_image %}
						<a class="post-thumb mb-4 d-block" href="{{post.url | relative_url}}.html">
							<img src="{{post.post_image | relative_url}}" alt="{{post.title}}" class="img-fluid w-100"/>
						</a>
						{% endif %}
						<span class="letter-spacing cat-name font-extra text-uppercase font-sm text-color">{{post.categories | limit: "1"}}</span>
						<h3 class="post-title mt-1"><a href="{{post.url | relative_url}}.html">{{post.title}}</a></h3>

						<span class="text-muted letter-spacing text-uppercase font-sm">{{post.date | date_to_long_string}}</span>
						<div class="post-content mt-4">
							<p>{{post.excerpt | strip_html | truncatewords: "25"}}</p>
							<a href="{{post.url | relative_url}}.html" class="btn btn-grey mt-3"> read more</a>
						</div>
					</article>
				</div>
				{% endif %}
                {% endfor %}
			</div>
             {% include pagination.html %}
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              {% include sidebar.html %}
			</div>
		</div>
	</div>
</section>

{% include footer_two.html %}