<section class="slider mt-4">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-lg-12 col-sm-12 col-md-12 slider-wrap">
             {% for post in site.posts %}
              {% if post.featured %}
                <div class="slider-item">
                   <div class="slider-item-content">
                        <div class="post-thumb mb-4">
                            <a href="{{post.url | relative_url}}.html">
                                <img src="{{post.post_image | relative_url}}" alt="{{post.title}}" class="img-fluid"/>
                            </a>
                        </div>
                        <div class="slider-post-content">
                            <span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">{{post.categories}}</span>
                            <h3 class="post-title mt-1"><a href="{{post.url | relative_url}}.html">{{post.title}}</a></h3>
                            <span class=" text-muted  text-capitalize">{{post.date | date_to_long_string }}</span>
                       </div>
                   </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
        </div>
    </div>
</section>