<div class="follow-socials">
    {% if data['facebook_url'] %}
     <a target="_blank"  href="{{data['facebook_url']}}"><i class="ti-facebook"></i></a>
    {% endif %}
    {% if data['twitter_url'] %}
     <a target="_blank"  href="{{data['twitter_url']}}"><i class="ti-twitter"></i></a>
    {% endif %}
    {% if data['instagram_url'] %}
    <a target="_blank"  href="{{data['instagram_url']}}"><i class="ti-instagram"></i></a>
    {% endif %}
    {% if data['pinterest_url'] %}
    <a target="_blank"  href="{{data['pinterest_url']}}"><i class="ti-pinterest"></i></a>
    {% endif %}
    {% if data['youtube_url'] %}
    <a target="_blank"  href="{{data['youtube_url']}}"><i class="ti-youtube"></i></a>
    {% endif %}
</div>