<!--footer start-->
<footer class="footer-section bg-grey">
    <div class="instagram-photo-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-center">Follow in Instagram</h4>
                </div>
            </div>
            <div class="row no-gutters" id="instafeed"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="mb-4">
                    <h2 class="footer-logo">Revolve.</h2>
                </div>
                <ul class="list-inline footer-socials">
                 {% include social_profiles.html %}
                </ul>
            </div>
            <div class="col-md-12 text-center">
                <p class="copyright">{{site.copyright_text}}</p>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->