<ul id="menu" class="menu navbar-nav {{include.menu_class}}">
{% for link in site.data.navigation %}
{% assign active = nil %}

{% for sublink in link.submenu %}
    {% if page.url contains sublink.url %}
        {% assign active = 'active' %}
    {% endif %}
{% endfor %}

{% if page.url contains link.url %}
    {% assign active = 'active' %}
{% endif %}
 
 <li class="nav-item {% if link.submenu %} dropdown {% endif %}">
     <a class="nav-link" href="{{link.url | relative_url }}">{{link.text}}{% if link.submenu %}<i class="icofont-simple-down"></i>{% endif %}</a>
    {% if link.submenu %}
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for sublink in link.submenu %}
        <a class="dropdown-item" href="{{sublink.url | relative_url }}">{{sublink.text}}</a>
        {% endfor %}
    </div>
    {% endif %}
</li>
{% endfor %}
</ul>