<div class="related-posts-block mt-5">
    <h3 class="news-title mb-4 text-center">You May Also Like</h3>
    <div class="row">
        {% for post in site.posts | limit: "3" %}
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="post-block-wrapper mb-4 mb-lg-0">
                <a href="{{post.url | relative_url}}.html">
                    <img class="img-fluid" src="{{post.post_image | relative_url}}" alt="{{post.title}}" />
                </a>
                <div class="post-content mt-3">
                    <h5><a href="{{post.url | relative_url}}.html">{{post.title}}</a></h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>