<div class="sidebar sidebar-right">
    <div class="sidebar-wrap mt-5 mt-lg-0">
        {% assign author_info = site.author_info %} {% for data in author_info %}
        <div class="author-widget">
            <div class="sidebar-widget about mb-5 text-center p-3">
                {% if data['image'] %}
                <div class="about-author">
                    <img src="{{data['image'] | relative_url }}" alt="{{data['name']}}" class="img-fluid">
                </div>
                {% endif %}
                <h4 class="mb-0 mt-4">{{data['name']}}</h4>
                <p>{{data['designation']}}</p>
                <p>{{data['bio']}}</p>
                <img src="{{data['signature'] | relative_url }}" alt="{{data['name']}}" class="img-fluid" />
            </div>

            <div class="sidebar-widget follow mb-5 text-center">
                <h4 class="text-center widget-title">Follow Me</h4> {% include follow_socials.html %}
            </div>
        </div>
        {% endfor %}
        <div class="sidebar-widget mb-5 ">
            <h4 class="text-center widget-title">Trending Posts</h4> {% assign featured_posts = site.posts | where: "featured","true" %} {% for post in featured_posts | limit: "3" %} {% if forloop.index == 1 %}
            <div class="sidebar-post-item-big">
                {% if post.post_image %}
                <a href="{{post.url | relative_url}}.html"><img src="{{post.post_image | relative_url}}" alt="{{post.title}}" class="img-fluid" /></a>
                {% endif %}
                <div class="mt-3 media-body">
                    <span class="text-muted letter-spacing text-uppercase font-sm">{{post.date | date_to_long_string }}</span>
                    <h4><a href="{{post.url | relative_url}}.html">{{post.title}}</a></h4>
                </div>
            </div>
            {% else %}
            <div class="media border-bottom py-3 sidebar-post-item">
                {% if post.post_image %}
                <a href="{{post.url | relative_url}}.html"><img class="mr-4" src="{{post.post_image | relative_url}}" alt="{{post.title}}" /></a>
                {% endif %}
                <div class="media-body">
                    <span class="text-muted letter-spacing text-uppercase font-sm">{{post.date | date_to_long_string }}</span>
                    <h4><a href="{{post.url | relative_url}}.html">{{post.title}}</a></h4>
                </div>
            </div>
            {% endif %} {% endfor %}

        </div>

        <div class="sidebar-widget category mb-5">
            <h4 class="text-center widget-title">Catgeories</h4>

            <ul class="list-unstyled">
                {% assign categories_list = site.categories %} {% if categories_list.first[0] == null %} {% for category in categories_list %}
                <li class="align-items-center d-flex justify-content-between"><a href="/category/{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | capitalize }} </a> <span>({{ site.tags[category].size }})</span></li>
                {% endfor %} {% else %} {% for category in categories_list %}
                <li class="align-items-center d-flex justify-content-between"><a href="/category/{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | capitalize }} </a> <span>({{ category[1].size }})</span></li>
                {% endfor %} {% endif %} {% assign categories_list = nil %}
            </ul>
        </div>

        <div class="sidebar-widget subscribe mb-5">
            <h4 class="text-center widget-title">Newsletter</h4>
            <form action="{{site.mailchimp_list}}" target="__blank" method="post">
                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                <button class="btn btn-primary d-block mt-3" type="submit">Sign Up</button>
            </form>
        </div>
        <div class="sidebar-widget sidebar-adv mb-5">
            {% include advertisement.html %}
        </div>
    </div>
</div>