{% if site.facebook_url %}
 <li class="list-inline-item"><a target="__blank" href="{{site.facebook_url}}"><i class="ti-facebook"></i></a></li>
{% endif %}
{% if site.twitter_url %}
 <li class="list-inline-item"><a target="__blank" href="{{site.twitter_url}}"><i class="ti-twitter"></i></a></li>
{% endif %}
{% if site.linkedin_url %}
 <li class="list-inline-item"><a target="__blank" href="{{site.linkedin_url}}"><i class="ti-linkedin"></i></a></li>
{% endif %}
{% if site.pinterest_url %}
 <li class="list-inline-item"><a target="__blank" href="{{site.pinterest_url}}"><i class="ti-pinterest"></i></a></li>
{% endif %}